{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-3">Reset password</h2>
    <div class="row">
        {% if messages %}
            {% for message in messages %}
                <div class="container-fluid p-0">
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                        {{ message|safe }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <form class="form-inline" method="post">
        {% csrf_token %}
        <div class="form-group mr-sm-3 mb-2">
           <label for="{{ form.email.id_for_label }}" class="sr-only">Email</label>
            {% if form.email.errors %}
                {{ form.email|add_css_classes:'form-control is-invalid' }}
                {% for error in form.email.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% else %}
                {{ form.email|add_css_classes:'form-control' }}
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary mb-2">Send Link</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
